@page

<html>
<head>
    <style>
        #chat-map{
            height: 80%;
        }
    </style>
    <script type="text/javascript" defer src="~/api/google/map.js">
    </script>
    <script>
        function initMap() {
            var myLatLng = { lat: -25.363, lng: 131.044 };

            var map = new google.maps.Map(document.getElementById('chat-map'), {
                zoom: 4,
                center: myLatLng
            });

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: 'Hello World!'
            });

            var infowindow = new google.maps.InfoWindow();

            google.maps.event.addListiner(marker)
        }
    </script>
</head>
<body>
    <div>
        Hello World
    </div>
    <div id="chat-map">
    </div>
</body>
</html>